body {
  background-color: #000000;
  background-image: url("../assets/merge-dark.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#gear-tracker > img {
  position: relative;
  width:    50%;
  height:   50%;
  padding:  10px;
}
