body {
  background-image: url("../assets/merge-dark.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#gear-tracker > img {
  position: absolute;

}

#sword-block {
  position: relative;
  float: left;
}

.progressive_sword {
  position: absolute;
  left: 12px;
  top: 14px;
}

.progressive_mail {
  position: absolute;
  left: 57px;
  top: 13px
}

.progressive_shield {
  position: absolute;
  left: 102px;
  top: 15px;
}

.sage_gulley {
  position: absolute;
  left: 215px;
  top: 2px
}

.sage_oren {
  position: absolute;
  left: 265px;
  top: 19px;
}

.sage_rosso {
  position: absolute;
  left: 277px;
  top: 71px;
}

.sage_impa {
  position: absolute;
  left: 242px;
  top: 118px;
}

.sage_irene {
  position: absolute;
  left: 182px;
  top: 118px;
}

.sage_osfala {
  position: absolute;
  left: 149px;
  top: 71px;
}

.sage_seres {
  position: absolute;
  left: 166px;
  top: 19px;
}

/* .obtainable {
  position: relative;
  display: inline-grid;
  width: 46px;
  height: 47px;
  left: 10px;
  top: 12px;
} */

.accessory-block {

}

.painting-block {

}

.pearl-block {

}

.heart-container {

}

.collectable-block {

}

.loading-spinner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
