body {
  background-image: url("../assets/merge-dark.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#gear-tracker > img {
  position: relative;
}

#gear-label > img {
  position: relative;
}

/* #sword-block {
  position: relative;
  float: left;
} */

.progressive_sword {
  position: absolute;
  left: 12px;
  top: 14px;
}

.progressive_mail {
  position: absolute;
  left: 56px;
  top: 13px
}

.progressive_shield {
  position: absolute;
  left: 103px;
  top: 14px;
}



.sage_gulley {
  position: absolute;
  left: 215px;
  top: 2px
}

.sage_oren {
  position: absolute;
  left: 265px;
  top: 19px;
}

.sage_rosso {
  position: absolute;
  left: 277px;
  top: 71px;
}

.sage_impa {
  position: absolute;
  left: 242px;
  top: 118px;
}

.sage_irene {
  position: absolute;
  left: 182px;
  top: 118px;
}

.sage_osfala {
  position: absolute;
  left: 149px;
  top: 71px;
}

.sage_seres {
  position: absolute;
  left: 166px;
  top: 19px;
}



.pendant_of_power {
  position: absolute;
  left: 215px;
  top: 47px
}

.pendant_of_wisdom {
  position: absolute;
  left: 192px;
  top: 84px;
}

.pendant_of_courage {
  position: absolute;
  left: 237px;
  top: 84px;
}



.progressive_bracelet {
  position: absolute;
  left: 18px;
  top: 77px;
}

.progressive_mitt {
  position: absolute;
  left: 60px;
  top: 75px;
}

.pegasus_boots {
  position: absolute;
  left: 100px;
  top: 80px;
}

.zora_flippers {
  position: absolute;
  left: 16px;
  top: 114px;
}

.bee_badge {
  position: absolute;
  left: 60px;
  top: 115px;
}

.stamina_scroll {
  position: absolute;
  left: 99px;
  top: 115px;
}



.piece_of_heart {
  position: absolute;
  left: 13px;
  top: 161px;
}

/* .obtainable {
  position: relative;
  display: inline-grid;
  width: 46px;
  height: 47px;
  left: 10px;
  top: 12px;
} */

#accessory-block {

}

#painting-block {

}

#pearl-block {

}

#heart-container {

}

#collectable-block {

}

.rupee {
  position: absolute;
  left: 68px;
  top: 164px;
}

.maiamai {
  position: absolute;
  left: 109px;
  top: 164px;
}

.monster_tail {
  position: absolute;
  left: 149px;
  top: 164px;
}

.monster_horn {
  position: absolute;
  left: 188px;
  top: 164px;
}

.monster_guts {
  position: absolute;
  left: 228px;
  top: 164px;
}

.master_ore {
  position: absolute;
  left: 267px;
  top: 164px;
}

.loading-spinner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
